
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize.parameters.xml
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize.parameters.xml
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize.parameters.xml
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize/original/Areas/HelpPage/Views/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize/original/Views/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize/original/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize/transformed/Areas/HelpPage/Views/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize/transformed/Views/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize/transformed/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/FPTSocialService.csproj.FileListAbsolute.txt
FPTSocial/.idea/gradle.xml
FPTSocial/.idea/vcs.xml
FPTSocialService/FPTSocialService/.vs/FPTSocialService/config/applicationhost.config
FPTSocialService/FPTSocialService/.vs/FPTSocialService/v16/.suo
FPTSocialService/FPTSocialService/FPTSocialService/bin/FPTSocialService.dll
FPTSocialService/FPTSocialService/FPTSocialService/bin/FPTSocialService.dll.config
FPTSocialService/FPTSocialService/FPTSocialService/bin/FPTSocialService.pdb
FPTSocialService/FPTSocialService/FPTSocialService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FPTSocialService/FPTSocialService/FPTSocialService/obj/Debug/FPTSocialService.csproj.CoreCompileInputs.cache
FPTSocialService/FPTSocialService/FPTSocialService/obj/Debug/FPTSocialService.csproj.FileListAbsolute.txt
FPTSocialService/FPTSocialService/FPTSocialService/obj/Debug/FPTSocialService.csprojAssemblyReference.cache
FPTSocialService/FPTSocialService/FPTSocialService/obj/Debug/FPTSocialService.dll
FPTSocialService/FPTSocialService/FPTSocialService/obj/Debug/FPTSocialService.pdb
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/_WPPLastBuildInfo.txt
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize.parameters.xml
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize/original/Areas/HelpPage/Views/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize/original/Views/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize/original/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize/transformed/Areas/HelpPage/Views/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize/transformed/Views/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize/transformed/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/FPTSocialService.csproj.CoreCompileInputs.cache
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/FPTSocialService.csproj.FileListAbsolute.txt
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/FPTSocialService.csprojAssemblyReference.cache
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/FPTSocialService.dll
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/FPTSocialService.pdb
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/Package/FPTSocialService.SourceManifest.xml
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/Package/PackageTmp/bin/FPTSocialService.dll
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/Package/PackageTmp/bin/FPTSocialService.pdb
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/Package/PackageTmp/Views/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/Package/PackageTmp/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/TransformWebConfig/original/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/TransformWebConfig/transformed/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/Properties/PublishProfiles/IISProfile.pubxml
FPTSocialService/FPTSocialService/FPTSocialService/Properties/PublishProfiles/IISProfile.pubxml.user
FPTSocial/.idea/gradle.xml
FPTSocial/.idea/vcs.xml
FPTSocialService/FPTSocialService/.vs/FPTSocialService/config/applicationhost.config
FPTSocialService/FPTSocialService/.vs/FPTSocialService/v16/.suo
FPTSocialService/FPTSocialService/FPTSocialService/bin/FPTSocialService.dll
FPTSocialService/FPTSocialService/FPTSocialService/bin/FPTSocialService.dll.config
FPTSocialService/FPTSocialService/FPTSocialService/bin/FPTSocialService.pdb
FPTSocialService/FPTSocialService/FPTSocialService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FPTSocialService/FPTSocialService/FPTSocialService/obj/Debug/FPTSocialService.csproj.CoreCompileInputs.cache
FPTSocialService/FPTSocialService/FPTSocialService/obj/Debug/FPTSocialService.csproj.FileListAbsolute.txt
FPTSocialService/FPTSocialService/FPTSocialService/obj/Debug/FPTSocialService.csprojAssemblyReference.cache
FPTSocialService/FPTSocialService/FPTSocialService/obj/Debug/FPTSocialService.dll
FPTSocialService/FPTSocialService/FPTSocialService/obj/Debug/FPTSocialService.pdb
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/_WPPLastBuildInfo.txt
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize.parameters.xml
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize/original/Areas/HelpPage/Views/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize/original/Views/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize/original/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize/transformed/Areas/HelpPage/Views/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize/transformed/Views/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize/transformed/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/FPTSocialService.csproj.CoreCompileInputs.cache
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/FPTSocialService.csproj.FileListAbsolute.txt
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/FPTSocialService.csprojAssemblyReference.cache
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/FPTSocialService.dll
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/FPTSocialService.pdb
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/Package/FPTSocialService.SourceManifest.xml
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/Package/PackageTmp/bin/FPTSocialService.dll
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/Package/PackageTmp/bin/FPTSocialService.pdb
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/Package/PackageTmp/Views/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/Package/PackageTmp/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/TransformWebConfig/original/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/TransformWebConfig/transformed/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/Properties/PublishProfiles/IISProfile.pubxml
FPTSocialService/FPTSocialService/FPTSocialService/Properties/PublishProfiles/IISProfile.pubxml.user
FPTSocial/.idea/gradle.xml
FPTSocial/.idea/vcs.xml
FPTSocialService/FPTSocialService/.vs/FPTSocialService/config/applicationhost.config
FPTSocialService/FPTSocialService/.vs/FPTSocialService/v16/.suo
FPTSocialService/FPTSocialService/FPTSocialService/bin/FPTSocialService.dll
FPTSocialService/FPTSocialService/FPTSocialService/bin/FPTSocialService.dll.config
FPTSocialService/FPTSocialService/FPTSocialService/bin/FPTSocialService.pdb
FPTSocialService/FPTSocialService/FPTSocialService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FPTSocialService/FPTSocialService/FPTSocialService/obj/Debug/FPTSocialService.csproj.CoreCompileInputs.cache
FPTSocialService/FPTSocialService/FPTSocialService/obj/Debug/FPTSocialService.csproj.FileListAbsolute.txt
FPTSocialService/FPTSocialService/FPTSocialService/obj/Debug/FPTSocialService.csprojAssemblyReference.cache
FPTSocialService/FPTSocialService/FPTSocialService/obj/Debug/FPTSocialService.dll
FPTSocialService/FPTSocialService/FPTSocialService/obj/Debug/FPTSocialService.pdb
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/_WPPLastBuildInfo.txt
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize.parameters.xml
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize/original/Areas/HelpPage/Views/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize/original/Views/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize/original/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize/transformed/Areas/HelpPage/Views/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize/transformed/Views/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/CSAutoParameterize/transformed/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/FPTSocialService.csproj.CoreCompileInputs.cache
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/FPTSocialService.csproj.FileListAbsolute.txt
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/FPTSocialService.csprojAssemblyReference.cache
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/FPTSocialService.dll
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/FPTSocialService.pdb
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/Package/FPTSocialService.SourceManifest.xml
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/Package/PackageTmp/bin/FPTSocialService.dll
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/Package/PackageTmp/bin/FPTSocialService.pdb
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/Package/PackageTmp/Views/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/Package/PackageTmp/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/TransformWebConfig/original/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/TransformWebConfig/transformed/Web.config
FPTSocialService/FPTSocialService/FPTSocialService/Properties/PublishProfiles/IISProfile.pubxml
FPTSocialService/FPTSocialService/FPTSocialService/Properties/PublishProfiles/IISProfile.pubxml.user
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/FPTSocialService.csprojAssemblyReference.cache
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/FPTSocialService.csprojAssemblyReference.cache
FPTSocialService/FPTSocialService/.vs/FPTSocialService/v16/.suo
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/FPTSocialService.csprojAssemblyReference.cache
FPTSocialService/FPTSocialService/.vs/FPTSocialService/v16/.suo
FPTSocialService/FPTSocialService/.vs/FPTSocialService/v16/.suo
FPTSocialService/FPTSocialService/FPTSocialService/bin/Microsoft.Owin.Security.OAuth.dll
FPTSocialService/FPTSocialService/.vs/FPTSocialService/v16/.suo
FPTSocialService/FPTSocialService/FPTSocialService/bin/FPTSocialService.dll
FPTSocialService/FPTSocialService/FPTSocialService/bin/FPTSocialService.pdb
FPTSocialService/FPTSocialService/FPTSocialService/bin/Microsoft.IdentityModel.JsonWebTokens.dll
FPTSocialService/FPTSocialService/FPTSocialService/bin/Microsoft.IdentityModel.Tokens.dll
FPTSocialService/FPTSocialService/FPTSocialService/bin/Microsoft.IdentityModel.Logging.dll
FPTSocialService/FPTSocialService/FPTSocialService/bin/Microsoft.Owin.dll
FPTSocialService/FPTSocialService/FPTSocialService/bin/Microsoft.Owin.Host.SystemWeb.dll
FPTSocialService/FPTSocialService/FPTSocialService/bin/Microsoft.Owin.Security.dll
FPTSocialService/FPTSocialService/FPTSocialService/bin/Microsoft.Owin.Security.Jwt.dll
FPTSocialService/FPTSocialService/FPTSocialService/bin/Owin.dll
FPTSocialService/FPTSocialService/FPTSocialService/bin/System.IdentityModel.Tokens.Jwt.dll
FPTSocialService/FPTSocialService/FPTSocialService/bin/System.Web.Http.Owin.dll
FPTSocialService/FPTSocialService/FPTSocialService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FPTSocialService/FPTSocialService/FPTSocialService/obj/Debug/FPTSocialService.csprojAssemblyReference.cache
FPTSocialService/FPTSocialService/FPTSocialService/obj/Debug/FPTSocialService.dll
FPTSocialService/FPTSocialService/FPTSocialService/obj/Debug/FPTSocialService.pdb
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/FPTSocialService.csproj.CoreCompileInputs.cache
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/FPTSocialService.csprojAssemblyReference.cache
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/FPTSocialService.dll
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/FPTSocialService.pdb
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/Package/PackageTmp/bin/FPTSocialService.dll
FPTSocialService/FPTSocialService/FPTSocialService/obj/Release/Package/PackageTmp/bin/FPTSocialService.pdb
FPTSocial/.idea/misc.xml
